.todo {
	display: flex;
	gap: 15px;
	word-break: break-all;
	flex-wrap: nowrap;
	color: var(--text-color);
	font-size: 22px;
	transition: all 0.4s ease-in-out;
}

.buttons {
	display: flex;
	gap: 10px;
}
.button {
	border: none;
	background: none;
	outline: none;
	cursor: pointer;
}
.completed {
	text-decoration: line-through;
	text-decoration-color: var(--text-color);
	color: rgba(34, 172, 34, 0.859);
	transition: all 0.2s ease-in-out;
}
