:root {
	font-family: 'Caveat', cursive;
	font-optical-sizing: auto;
	--white-color: rgb(255, 255, 255);
	--background-color: rgb(225, 187, 111);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--background-color);
	display: flex;
	justify-content: center;
	align-items: center;
}
.App {
	text-align: center;
}
